/* ==== Typestyles ==== */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200;300;400&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

header h1 {
  font-family: 'Poppins', sans-serif;
  color: #FFF;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.2em;
  
}

header h2 {
  font-family: 'Poppins', sans-serif;
  color: #FFF;
  font-size: 0.8em;
  font-weight: 300;
  margin: 0;
  line-height: 26px;
}

header p {
  font-family: 'Poppins', sans-serif;
  color: #FFF;
}

main h3 {
  font-family: 'Poppins', sans-serif;
  color: #6B6198;
}

main p {
  font-family: 'Open Sans', sans-serif;
  color: #000
}

.contact-container p {
  font-family: 'Poppins', sans-serif;
  color: #FFF;
  font-size: 0.8em;
  font-weight: 300;
  margin: 0;
  line-height: 26px;
}

footer p {
  font-family: 'Poppins', sans-serif;
  color: #FFF;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 26px;
}


/* ==== SVGs ==== */

.content-button svg {
  stroke: #6B6198;
}

.social-button svg {
  stroke: #FFF;
}


/* ==== Structure ==== */

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

.bg-image {
  background-image: 
    linear-gradient(
      #6B6198D9, 
      #6B6198D9
    ),
    url("./assets/sand.jpg");
}

#portrait {
  max-width: 100px;
}


/* ==== Header ==== */

header {
  display: flex;
  flex-flow: column nowrap;

  margin: 0 5%;
  height: 100vh;
}

.header-title {
  flex: 4;

  display: flex;
  align-items: center;
}

.header-subtitle {
  flex: 1;
}


/* ==== Main ==== */

.contact-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin: 0 5%;
}

.contact-portrait {
  height: 200px;
}

.contact-info {

}

.content-container {
  background-color: #FFF;
}

.content-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  width: 100%;
  font-style: normal;
  font-weight: normal;
}

.content-button svg {
  margin-left: auto;
}


/* ==== Footer ==== */

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;

  text-align: center;
  height: 200px;
  margin: 25px 0px;
}

.social-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 200px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.social-button:focus {
  outline: 1px dashed #FFF;
}


/* ==== Functionality ==== */

.hidden {
  display: none;
}


/* ==== Accessibility ==== */

.sr-only {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
}