

/* ==== Typestyles ==== */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200;300;400&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.2em;
  color: #FFF;
}

header h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
  color: #FFF;
}

header p {
  font-family: 'Poppins', sans-serif;
  color: #FFF;
}

main h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-align: left;
  color: #425332;
}

main p,
main li {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

.contact-container p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
  color: #FFF;
}

.contact-container a {
  text-decoration: none;
}

.contact-container button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.content-p,
.content-li {
  line-height: 1.6em;
  letter-spacing: 0.01em;
  word-spacing: 0.2em;
  padding: 0 5%;
  margin-bottom: 40px;
}

footer p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 26px;
  color: #FFF;
}


/* ==== SVGs ==== */

#scroll-arrow {
  position: absolute;
  margin: -12px;
  left: 50%;
  bottom: 5%;
  stroke: #FFF;
}

.content-icon {
  stroke: #425332;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.rotate-icon {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.social-button svg {
  stroke: #FFF;
}


/* ==== Structure ==== */

html {
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  /* remove when adding video back in */
  background: url('assets/waterfall-static.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


#bg-video {
  position: fixed;
  height: auto;
  width: 100%;
  opacity: 0.5;
  z-index: -2;
}

#bg-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 0.8;
  z-index: -1;
  background: #425332;
}


/* ==== Header ==== */

header {
  display: flex;
  flex-flow: column nowrap;

  height: 100vh;
  margin: 0 5%;
}

.header-title {
  display: flex;
  align-items: center;
  flex: 4;
}

.header-subtitle {
  flex: 1;

  margin-bottom: 25px;
}


/* ==== Main ==== */

/* .contact-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  margin: 75px 5%;
} */

.contact-container {
  display: grid;
  grid-template: 1fr auto / auto 1fr;
  grid-template-areas:
    "ct-por ct-inf"
    "ct-btn ct-btn";
  max-width: max-content;
  margin: 0 auto;
  padding: 50px 0;
}

.contact-portrait {
  grid-area: ct-por;
  height: auto;
  max-width: 175px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.2); 
  box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.2);
}

.contact-info {
  grid-area: ct-inf;
  padding: 1rem;
  align-self: center;
}

.contact-btn-wrapper {
  grid-area: ct-btn;
  width: 90%;
  margin: auto;
}

.contact-btn {
  width: 100%;
  margin: 50px 0 0;
  background: #425332;
  color: #fff;
  height: 50px;
  border: none;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.2);
}

.contact-btn:hover,
.contact-btn:focus {
  background: #FFF;
  color: #425332;
}

@media all and (min-width: 769px) {

  .contact-container {
    padding: 50px;
  }

  .contact-btn-wrapper {
    width: 100%;
  }

}

@media all and (min-width: 1015px) {

  .contact-container {
    position: sticky;
    top: 0;
  }

  .contact-btn:hover,
  .contact-btn:focus {
    background: #42533233;
  }

}

.content-container {
  width: 100%;
  padding: 50px 0;
  background-color: #FFF;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.2); 
  box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.2);
}

.content-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  height: 100px;
  width: 100%;
  padding: 0 5%;
  font-style: normal;
  font-weight: normal;
  border: none;
  background-color: #FFF;

  transition: 0.4s;
}

.content-button svg {
  min-width: 24px;
  margin-left: auto;
}

.active {
  background-color: #4253321A;
}

.content-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.content-li {
  align-self: center;
  padding: 1rem 0;
  margin: 0;
  text-align: center;
}


/* ==== Footer ==== */

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;

  height: 200px;
  padding: 25px 0px;
  text-align: center;
}

.social-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 200px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;
  border: none;
  background: none;
  cursor: pointer;

  transition: 0.4s;
}


/* ==== Functionality ==== */

.hidden {
  display: none;
}


/* ==== Accessibility ==== */

.sr-only {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}


/* ==== Media Queries ==== */

/* tablet --- */
@media screen and (max-width: 1015px) {

  /* body {
    background: url('assets/waterfall-static.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  } */

  #bg-video {
    display: none;
  }

}

/* tablet +++ */
@media screen and (min-width: 769px) {
  
  header h2 {
    font-size: 1em;
  }
  
  .content-p {
    font-size: 0.9em;
  }

  .contact-container {
    align-self: start;
  }

  .content-button:hover {
    background-color: #42533233;
  }

  .social-button:hover {
    background-color: #FFFFFF33;
    border-radius: 3px;
  }

}

/* Laptop + */
@media screen and (min-width: 1015px) {
  
  main {
    display: flex;

    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.2);
  }

  .contact-info {
    margin: 10px 0 10px 20px;
  }

  .contact-info p {
    color: #425332;
  }

  .content-container {
    -webkit-box-shadow: none; 
    box-shadow: none
  }

}

/* Video Ratio */
@media (min-aspect-ratio: 16/9) {

  #bg-video {
    height: auto;
    width:100%;
  }

}

@media (max-aspect-ratio: 16/9) {

  #bg-video { 
    height: 100%;
    width:auto;
  }

}